page-reviews {
   

    .comment-section {
        ul.rating ion-icon {
            font-size: 16px;
        }

        ul.rating li {
            color: color($colors, ash);
            padding: 0px !important;
        }
    }
}
