<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center>

  <ion-navbar mode="ios">
    <ion-buttons start>
      <button ion-button icon-only (click)="toggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Gimme Spot</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button *ngFor="let hit of hits" ion-item mode="md" (click)="showToiletDetails()">
      <ion-thumbnail item-start>
        <img src="http://placeimg.com/400/400/people">
      </ion-thumbnail>
      <h2>{{ hit.toilet.name }}</h2>
      <ion-note>{{ hit.toilet.owner }}</ion-note>
      <p>{{ hit.toilet.desc }}</p>
      <div id="item-end" item-end>
        <h1 ion-text color="secondary">{{ hit.toilet.cost }}</h1>
        <span>
          <ion-badge>93</ion-badge> Reviews
        </span>
      </div>
    </button>
    <!-- <ion-item *ngFor="let hit of hits">
      {{ (hit.toilet | async)?.name }} - {{ (hit.toilet | async)?.cost }}
    </ion-item> -->
  </ion-list>

</ion-content>

<ion-footer text-center id="footer">
  <button full ion-button no-margin color="ash">
    Filter
    <ion-icon name="ios-funnel"></ion-icon>
  </button>
</ion-footer>