<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center>

  <ion-navbar mode="ios" color="mountain">
    <ion-buttons start>
      <button ion-button icon-only (click)="toggleMenu()">
        <ion-icon color="light" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title><span ion-text color="light">Gimme Spot</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button *ngFor="let hit of hits" ion-item mode="md" (click)="showToiletDetails(hit)">
      <ion-thumbnail item-start>
        <img *ngIf="hit.photoURL; else toiletPicture" [src]="hit.photoURL | async">        
        <ng-template #toiletPicture>
            <img src="assets/imgs/logo.png">
        </ng-template>
      </ion-thumbnail>
      <h2>{{ hit.toilet.name }}</h2>
      <ion-note>{{ hit.toilet.owner }}</ion-note>
      <p>{{ hit.toilet.desc }}</p>
      <div id="item-end" item-end>
        <h1 ion-text color="secondary">₱{{ hit.toilet.cost }}</h1>
        <span>
          {{hit.toilet.status}}
        </span>
      </div>
    </button>
    <!-- <ion-item *ngFor="let hit of hits">
      {{ (hit.toilet | async)?.name }} - {{ (hit.toilet | async)?.cost }}
    </ion-item> -->
  </ion-list>

</ion-content>
